@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Montserrat", sans-serif;
    background-color: aliceblue;
}

.sidebar {
    margin-top: -100px;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
  
  .sidebar a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }

  .container {
    margin-top: 100px;
    margin-left: 200px;
    height: 100px;
    width: 90%;
  }

  table {
    margin-left: 10%;
    text-align: center;
    width: 80%;
    border: 1px solid rgb(213, 212, 212);
    border-collapse: collapse;
  }

  tbody tr:nth-child(odd) {
    background-color: antiquewhite;
  }

  tbody tr:nth-child(even) {
    background-color: rgb(237, 222, 203);
  }

  .button-add {
    margin-left: 10%;
  }
  

